<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title> life cycle maintain </title>

	<!-- Bootstrap core CSS -->
	<link href="/static/dist/css/bootstrap.css" rel="stylesheet">

  </head>

  <body>
	<ol class="breadcrumb">
	  <li><a id="home_tab" name="home_tab" href="/">home</a></li>
	  <li><a id="insert_tab" name="insert_tab" href="/insert">insert</a></li>
	  <li><a id="delete_tab" name="delete_tab" href="/delete">delete</a></li>
	  <li><a id="script_tab" name="script_tab" href="/script">script</a></li>
	  <li><a id="profile_tab" name="profile_tab" href="/profile">profile</a></li>
	  <li><a id="logout_tab" name="logout_tab" href="/logout">logout</a></li>
	</ol>

	<pre>{{show_string}}</pre>
  </body>
</html>
