<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title> life cycle maintain </title>

	<!-- Bootstrap core CSS -->
	<link href="/static/dist/css/bootstrap.css" rel="stylesheet">

  </head>

  <body>
	<ol class="breadcrumb">
	  <li><a href="/">home</a></li>
	  <li><a href="/insert">insert</a></li>
	  <li><a href="/delete">delete</a></li>
	  <li><a href="/script">script</a></li>
	</ol>
  </body>
</html>
